<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title><%= info.name %></title>
    
    <link rel="stylesheet" href="/css/info.css">

    <link href='https://cdn.boxicons.com/3.0.6/fonts/basic/boxicons.min.css' rel='stylesheet'>

    <style>
        body {
            background-image: url("<%= info.backdrop %>");
            background-attachment: fixed;
            background-size: cover;
            z-index: -1;
        }
    </style>

</head>

<body>
<<<<<<< HEAD
    <div class="background-opacity">
        <section class="movie-info-container">
            <nav class="back-button">
                <a href="/">
                    <i class='bx  bx-chevron-left'></i> 
                </a>
            </nav>
            <div class="main-content">
                <span class="movie-title"><%= info.name %></span>
                <p>
                    <%= info.summary %>
                </p>
                <p>Genre</p>
                <% info.genre.forEach(item=> { %>
                    <p>
                        <%= item %>
                    </p>
                <% }) %>
            </div>
            </section>
        <section class="movie-source-container">
    
        </section>
    </div>
<!--     

    <p>Available at:</p>

    <% info.sources.forEach(source=> { %>
        <div>
            <p>
                <%= source.name %>
            </p>
            <a href="<%= source.iosURL %>">iOS</a>
            <a href="<%= source.androidURL %>">Android</a>
            <a href="<%= source.webURL %>">Web</a>
            <img src="<%= source.logo %>" alt="<%= source.name %> logo">
        </div>
    <% }) %>

    <img src="<%= info.poster %>" alt="<%= info.title %> poster">
    <% if (info.episodes) { %>
        <p>Episodes</p>
        <% info.episodes.forEach(episode=> { %>
            <div>
                <p>Season: <%= episode.season_number %>
                </p>
                <p>Episode: <%= episode.episode_number %>
                </p>
                <p>
                    <%= episode.name %>
                </p>
                <img src="<%= episode.thumbnail_url%>"
                    alt="Episode <%= episode.episode_number %> thumbnail" class="thumbnail">
            </div>
        <% }) %>
    <% } %> -->
=======
    <h1>Info</h1>
    <p>
        <%= info.title %>
    </p>
    <p>
        <%= info.summary %>
    </p>
    <p>Genre</p>
    <% info.genre.forEach(item=> { %>
        <p>
            <%= item %>
        </p>
        <% }) %>

            <% if (!status && user) { %>
                <p>Add to watchlist:</p>
                <form action="/watchlist/add" method="GET">
                    <select name="watchStatus">
                        <option value="watching">Watching</option>
                        <option value="completed">Completed</option>
                        <option value="plan_to_watch">Plan to watch</option>
                        <option value="dropped">Dropped</option>
                    </select>
                    <input type="hidden" name="titleId" value="<%= info.id %>">
                    <button type="submit">Add</button>
                </form>
                <% } else if(status && user) { %>
                    <p>Progress: <%=status.status %>
                    </p>
                    <form action="/watchlist/add" method="GET">
                        <select name="watchStatus">
                            <option value="watching">Watching</option>
                            <option value="completed">Completed</option>
                            <option value="plan_to_watch">Plan to watch</option>
                            <option value="dropped">Dropped</option>
                        </select>
                        <input type="hidden" name="titleId" value="<%= info.id %>">
                        <button type="submit">Update</button>
                    </form>
                    <% } %>

                        <p>Available at:</p>

                        <% info.sources.forEach(source=> { %>
                            <div>
                                <p>
                                    <%= source.name %>
                                </p>
                                <a href="<%= source.iosURL %>">iOS</a>
                                <a href="<%= source.androidURL %>">Android</a>
                                <a href="<%= source.webURL %>">Web</a>
                                <img src="<%= source.logo %>" alt="<%= source.name %> logo">
                            </div>
                            <% }) %>

                                <img src="<%= info.poster %>" alt="<%= info.title %> poster">
                                <% if (info.episodes) { %>
                                    <p>Episodes</p>
                                    <% info.episodes.forEach(episode=> { %>
                                        <div>
                                            <p>Season: <%= episode.season_number %>
                                            </p>
                                            <p>Episode: <%= episode.episode_number %>
                                            </p>
                                            <p>
                                                <%= episode.name %>
                                            </p>
                                            <img src="<%= episode.thumbnail_url%>"
                                                alt="Episode <%= episode.episode_number %> thumbnail" class="thumbnail">
                                        </div>
                                        <% }) %>
                                            <% } %>
>>>>>>> ffee628ffc8f3453ad734149f29fdd3bef43825f
</body>

</html>