<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title><%= info.name %></title>
    
    <link rel="stylesheet" href="/css/info.css">

    <link href='https://cdn.boxicons.com/3.0.6/fonts/basic/boxicons.min.css' rel='stylesheet'>

    <style>
        body {
            background-image: url("<%= info.backdrop %>");
            background-attachment: fixed;
            background-size: cover;
            z-index: -1;
        }
    </style>

</head>

<body>
    <div class="background-opacity">
        <section class="movie-info-container">
            <nav class="back-button">
                <a href="/">
                    <i class='bx  bx-chevron-left'></i> 
                </a>
            </nav>
            <div class="main-content">
                <div class="movie-title">
                    <span><%= info.name %></span>
                </div>
                <div class="general-info">
                    <span><%= info.runtime%></span>
                    <span><%= info.releaseYear%></span>
                    <span></span>
                </div>
                <p>
                    <%= info.summary %>
                </p>
                <p>Genre</p>
                <% info.genre.forEach(item=> { %>
                    <p>
                        <%= item %>
                    </p>
                <% }) %>
            </div>
            </section>
        <section class="movie-source-container">
    
        </section>
    </div>
<!--     

    <p>Available at:</p>

    <% info.sources.forEach(source=> { %>
        <div>
            <p>
                <%= source.name %>
            </p>
            <a href="<%= source.iosURL %>">iOS</a>
            <a href="<%= source.androidURL %>">Android</a>
            <a href="<%= source.webURL %>">Web</a>
            <img src="<%= source.logo %>" alt="<%= source.name %> logo">
        </div>
    <% }) %>

    <img src="<%= info.poster %>" alt="<%= info.title %> poster">
    <% if (info.episodes) { %>
        <p>Episodes</p>
        <% info.episodes.forEach(episode=> { %>
            <div>
                <p>Season: <%= episode.season_number %>
                </p>
                <p>Episode: <%= episode.episode_number %>
                </p>
                <p>
                    <%= episode.name %>
                </p>
                <img src="<%= episode.thumbnail_url%>"
                    alt="Episode <%= episode.episode_number %> thumbnail" class="thumbnail">
            </div>
        <% }) %>
    <% } %> -->
</body>

</html>